@use '../mixins' as *;

@mixin button($backgroundColor: var(--color-primary-400), $color: var(--color-white), $size: "sm", $weight: 500) {
	--background: $backgroundColor;
	--text-color: $color;
	--hoverBackground: var(--text-color, $color);
	--hoverTextColor: var(--background, $background);
	display: inline-block;
	justify-content: center;
	align-items: center;
	font-size: $size;
	font-size: var(--font-size--#{$size});
	background-color: var(--background);
	color: var(--text-color);
	font-weight: $weight;
	border: 1px solid currentColor;
	padding: calc(.75 * var(--spacer)) calc(1.5 * var(--spacer));
	padding: var(--spacer-3) var(--spacer-5);
	border-radius: var(--radius-btn);
	line-height: 1;
	text-align: center;
	transition: background-color .2s, color .2s;
	position: relative;

	&:hover {
		background-color: var(--hoverBackground);
		color: var(--hoverTextColor);
		background-color: var(--hoverBackground);
		// color: var(--hoverTextColor);
	}
}

.theme--medium-1,
.theme--medium-2 {
	.button--primary {
		// stays the same
	}
}

.has-shadow-1 {
	box-shadow: 0 .125rem 3px #c2c2c2;
}

.button {
	@include button();
}

.button--sm {
	font-size: var(--font-size--sm);
}

.button--accent {
	--text-color: var(--white);
	--background: var(--color--primary-accent);

}

.button--secondary {
	--color: var(--color-secondary-cta);
	background-color: var(--color);
	border: 1px solid var(--color-secondary-800);
	color: var(--white);

	&.button--outline {
		// border-width:2rem;
		border-color: var(--color);
		color: var(--color);
		background: transparent;

		&:hover {
			--color: var(--white);
			background: var(--color-secondary-cta);
			border-color: var(--color-secondary-cta);
		}
	}

}


.button--primary {
	--text-color: var(--white);
	--background: var(--color-primary-cta);
	// color: var(--white);
	border-color: var(--color-primary-accent);

	&.button--outline {
		border-color: var(--color);
		--text-color: var(--color-primary-cta);
		--background: transparent;

		&:hover {
			--text-color: var(--white);
			--background: var(--color-primary-cta);
		}
	}

}

.button--md {
	font-size: var(--font-size--md);
}

.button--lg {
	font-size: var(--font-size--lg);
}

.button--accent {
	--color: var(--white);
	--background: var(--color-primary-accent);
	font-weight: 400;
	border-color: var(--color-primary-200);

	&:hover {
	}
}

.button--tertiary {
	--color: var(--color-primary-cta);
	background-color: var(--color-primary-50);
	border: 1px solid var(--black);

	&:hover {
		--color: var(--white);
		background: var(--color-primary-100);
		border-color: var(--black);
	}

}


.button--full-width {
	width: 100%;
}


.button--inline-submit {
	padding: 0.4rem 1rem;
	margin-bottom: 0;
}

.button--text {
	display: inline-block;
	padding: 0;
	background: none;
	color: var(--color-link);
	border: none;
}

.disabled {
	cursor: not-allowed;
}

.button.disabled,
.button[disabled] {
	pointer-events: none;
	background: #ccc;
	opacity: .4;
	position: relative;
	z-index: 0;

}


.button--play {
	--dim: 40px;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: .5rem;
	padding: .5rem 1rem;
	/* background: var(--color-primary-accent); */
	border-radius: var(--radius-1);
	border: 1px solid var(--color-primary-400);

	&:hover {
		box-shadow: 0 0 5px #ccc;
	}

	.circle {

		width: var(--dim);
		height: var(--dim);
		flex: 0 0 var(--dim);
		border-radius: 50%;
		background-color: green;
		transition: filter 0.2s;
	}

	svg {
		fill: white;
		stroke: white;
		stroke-width: 2;
		transition: all 0.3s;
	}

	&:hover {
		.circle {
			filter: brightness(110%);
		}

		svg {
			transform: scale(1.2, 1.2);
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1, 1);
	}

	100% {
		transform: scale(1.2, 1.2);
	}
}


.button_row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	gap: 10px;

	@include bp(md) {
		flex-direction: row;
		gap: 1rem;
	}
}