body:not(.wp-admin) {

	section:not(.widget) {
		.frm_form_field {

			input:not([type=search]),
			textarea {
				--bg-color: var(--color-primary-900);
				border: 1px dotted var(--color-secondary-400);
				--border-color: var(--color-primary-1000);
				--text-color: var(--color-text);
				// background: var(--color-primary--1000)!important;
				border-radius: var(--radius-input);
				--field-height: 39px;

				&:focus {
					--text-color: white;
					background-color: var(--color-primary-cta) !important;
				}
			}

			input {

				// padding-left: var(--spacer);
			}
		}

		.frm_style_formidable-style.with_frm_style div.frm_description,
		.frm_style_formidable-style.with_frm_style p.description,
		.frm_style_formidable-style.with_frm_style div.description,
		.frm_style_formidable-style.with_frm_style div.frm_description,
		.frm_style_formidable-style.with_frm_style .frm-show-form > div.frm_description,
		.frm_style_formidable-style.with_frm_style .frm_error,
		.frm_style_formidable-style.with_frm_style .frm_pro_max_limit_desc {
			color: var(--color-text);
			opacity: .7
		}

		.frm_style_formidable-style.with_frm_style {
			--section-color: var(--color-text);
			--section-font-size: 1.25rem;

			.frm_submit button {
				background: var(--color-primary-accent);
				border: 1px solid var(--color-primary-800);
				box-shadow: none;
			}
		}

		.with_frm_style .frm_required {
			color: var(--color-primary-accent);
			color: var(--color-text);
		}
	}
}

.site-footer {

	.with_frm_style legend + h3,
	.with_frm_style h3.frm_form_title {
		font-size: var(--font-size--lg);
		--title-margin-top: 0;
		--title-margin-bottom: 0;
	}
}

.with_frm_style .frm-show-form div.frm_description p {
	--form-desc-margin-bottom: 0;
}

.widget_block {
	.wp-block-categories-list {
		font-size: var(--font-size--sm);
	}
}