@use '../theming';

.modal {

	.modal__content {
		max-height: 85vh;
		// max-height: 75%;
		overflow-y: auto;
	}
	&.modal-form  {
		.modal__header {
			justify-content: center;
			font-family: var(--ff-display);
		}
		.modal__title {
			text-align: center;
			color: var(--color-white);
			font-size: var(--font-size--lg);
		}
		.modal__container {
		@extend .theme--dark-gradient-1;
		max-width: 680px;
		width: 80%;
		margin-left:auto;
		margin-right: auto;
		box-shadow: 0 2px 10px #333
	}
	.modal__close {
		position: absolute;
		right: 0;
		top:0;
	}
	.with_frm_style .frm_message, .frm_success_style{
		font-size: var(--font-size--md);
	}
}
}

.modal-form--summit-brochure {
	.modal__container {
		padding-right: 0;
	}
	.modal__content {
		padding-right: 1rem;
	}
}