.pill {
	font-size: var(--font-size--xs);
	background-color: var(--color-secondary-200);
	padding: .125em 1em;
	border-radius: 1rem;
	border: 1px dotted var(--color-secondary-400);
}

.pillbox {
	display: flex;
	column-gap: 10px;
}