.testimonial-slider {
	.is-visible .testimonial-slider--item:hover {
		box-shadow: 0 4px 8px #999;
		// transform: scale(1.1);
		transition: box-shadow .2s;
	}
}

.testimonial-card {
	position: relative;
	z-index: 1;
	border: 1px solid;
	padding: var(--spacer-4);
	border-radius: var(--radius-1);
	text-align: left;
	background-color: var(--color-secondary-200);
	font-size: var(--font-size--sm);

	q {}

	img {
		border-radius: var(--radius-1);
	}

	blockquote p:before,
	blockquote p:after {
		content: '"';
		line-height: 1;
	}

	cite {}
}

.testimonial-card__footer {
	margin-top: var(--spacer-4);
	display: flex;
	text-align: right;
	font-size: var(--font-size--sm);

	.testimonial__name {
		font-size: var(--font-size--md);
	}

	.testimonials-card__image-wrapper {
		width: 20%;
	}
}

.testimonial-card__logo-wrapper {
	& > img {
		max-width: 100px;
		max-height: 50px;
		height: 100%;
		width: 100%;

	}
}

.single-testimonial {
	&__wrap {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		padding-left: var(--spacer-grid);
		padding-right: var(--spacer-grid);
	}

	blockquote {
		font-size: var(--font-size--xl);
		font-family: var(--font-family--display);

		&:before,
		&:after {
			content: '"';
			font-size: 1.5em;
			line-height: 1;
			// margin: -.5rem;
			position: absolute;
		}

		&:before {
			margin-left: -.5em;
		}

		&:after {
			margin-left: .1em;
		}
	}
}

.testimonial__name {
	font-weight: 500;
}

.testimonial__title,
.testimonial__company {
	font-size: var(--font-size--xs);
	font-style: italic;
}

.testimonial__footer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	.testimonial__company-logo {
		width: 100%;

		img {
			width: 100%;
			max-width: 100px;
		}
	}
}

.testimonial_has_video {
	position: relative;

	&:hover::before {
		content: "Play";
		cursor: pointer;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: .3;
		background-color: var(--color-primary-900);
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}
}