.testimonial__wrap {
	container-type: inline-size;
	container-name: testimonial-card;

	&.single-testimonial__wrap {
		max-width: 55rem;
		width: 95%;
		margin-inline: auto;
	}
}


.testimonial-card {
	--testimonial-font-size: max(18px, 3cqi);
	--testimonial-font-family: var(--font-family--display);
	--foreground: var(--black);
	--background: var(--color-secondary-200);
	color: var(--foreground);
	background: var(--background);
	position: relative;
	z-index: 1;
	border: 1px solid currentColor;
	padding: calc(2 * var(--testimonial-font-size));
	border-radius: var(--radius-3);
	text-align: left;
	position: relative;
	display: flex;
	gap: 2rem;
	flex-direction: column;
	box-shadow: 0 4px 8px #999;
	transition: box-shadow .2s;
	font-size: var(--testimonial-font-size, var(--font-size--md));
	font-family: var(--testimonial-font-family);
	.testimonial-card__quote-wrapper {
		flex: 1;
	}
		.testimonial-card__footer {

		}
	

	blockquote {
		font-weight: 400;
		border-radius: var(--radius-1);
		margin-bottom: 0;
		padding: 2rem;
		background:
			color-mix(in srgb, #795548 100%, var(--foreground) 100%);
		color: var(--background);
		border-radius: var(--radius-2);

		&:before,
		&:after {
			content: '"';
			font-size: 1.5em;
			line-height: 1;
			// margin: -.5rem;
			position: absolute;
		}

		&:before {
			margin-left: -.5em;
		}

		&:after {
			margin-left: .1em;
		}
	}

	@container testimonial-card (min-width: 40rem) {
		flex-direction: row;
	}

	img {
		border-radius: var(--radius-1);
	}
}

.testimonials-card__image-wrapper {
	// display: none;
	width: 10cqi;
	margin-left: auto;

	@container testimonial-card (min-width: 34rem) {
		display: block;
		width: 20cqi;
	}
}

.testimonial-card__logo-wrapper {
	margin-top: .35em;
}

.testimonial-slider {

	.splide__slide {
		padding-block: 1rem;
	}

	.testimonial-card__footer {
		margin-top: auto;

		.testimonial__name {
			order: 4;
			font-weight: 300;
		}

		.testimonial-card__title {
			font-weight: 500;
		}
	}
}




.testimonial-card__quote-wrapper {
	display: flex;
	// align-items: center;
}



.testimonial-card__footer {
	display: flex;
	flex-direction: row;
	text-align: right;
	font-size: max(.7em, var(--font-size--sm));
	align-items: flex-end;
	// width: max-content;
	margin-left: auto;
	justify-content: center;
	gap: .5rem;

	@container testimonial-card (min-width: 30rem) {
		flex-direction: column;
	}

	.testimonial__name {
		font-size: var(--font-size--md);
	}

	.button--play {
		background: var(--foreground);
		color: var(--background);
		margin-left: auto;
		margin-top: var(--spacer-2);
	}
}

.testimonial-card__footer-content {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	// margin-top: auto;;
}

.testimonial-card__logo-wrapper {
	& > img {
		max-width: 100px;
		max-height: 50px;
		height: 100%;
		width: auto !important;

	}
}

.testimonial__name {
	font-weight: 500;
}

.testimonial__title,
.testimonial__company {
	font-size: var(--font-size--xs);
	font-style: italic;
}