.testimonial-slider {
	padding-top: var(--spacer-12);
	padding-bottom: var(--spacer-12);
	.is-visible .testimonial-slider--item:hover {
		box-shadow: 0 4px 8px #999;
		transition: box-shadow .2s;
	}
	.testimonial-card {
		height: 100%;
	}

	.testimonial-card__quote-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		q {margin-top: auto;}
	}
	
	.testimonial-card__footer {
		margin-top: auto;
		.testimonial-card__logo-wrapper {
			order:10;
		}
		.testimonial__name {
			order: 4;
			font-weight: 300;
			font-size: var(--font-size--sm);
		}
	
		.testimonial-card__title {
			font-weight: 500;
		}
		.button--play {
			order: 20;
		}
	}
}

.testimonial-card {
	position: relative;
	z-index: 1;
	border: 1px solid;
	padding: var(--spacer-4);
	border-radius: var(--radius-1);
	text-align: left;
	background-color: var(--color-secondary-200);
	font-size: var(--font-size--sm);
	img {
		border-radius: var(--radius-1);
	}

	blockquote p:before,
	blockquote p:after {
		content: '"';
		line-height: 1;
	}
}

.testimonial-card__footer {
	margin-top: var(--spacer-4);
	display: flex;
	text-align: right;
	font-size: var(--font-size--sm);
	align-items: flex-end;

	.testimonial__name {
		font-size: var(--font-size--md);
	}

	.testimonials-card__image-wrapper {
		width: 20%;
	}
	.button--play {
		margin-left: auto;;
		margin-top: var(--spacer-2);
	}
}

.testimonial-card__logo-wrapper {
	& > img {
		max-width: 100px;
		max-height: 50px;
		height: 100%;
		width: auto!important;

	}
}

.single-testimonial {
	&__wrap {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		background: var(--color-secondary-200);
		padding: calc(2 * var(--spacer-grid));
		border-radius: var(--border-radius);
		position: relative;
	}

	blockquote {
		font-size: var(--font-size--xl);
		font-family: var(--font-family--display);

		&:before,
		&:after {
			content: '"';
			font-size: 1.5em;
			line-height: 1;
			// margin: -.5rem;
			position: absolute;
		}

		&:before {
			margin-left: -.5em;
		}

		&:after {
			margin-left: .1em;
		}
	}
}

.testimonial__name {
	font-weight: 500;
}

.testimonial__title,
.testimonial__company {
	font-size: var(--font-size--xs);
	font-style: italic;
}

.testimonial__footer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 1rem;
	

	.testimonial__company-logo {
		width: 100%;

		img {
			width: 100%;
			max-width: 100px;
		}
	}
}