@use "../mixins" as *;
.top-notification-bar {
	padding-block: 10px;
	font-size: var(--font-size--sm);
	button {
		padding-block: 5px;
	}
}
.notification__text {
	max-width: 70ch;
	text-wrap:balance;
	@include bp(lg){
		text-wrap:pretty;
	}
}
.notification__anchor {
display: flex;
flex-wrap:wrap;
gap: .51rem;
}