.annual_summit {
	font-family: "montserrat", var(--font-family--display);
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.key-speakers,
	.all-leadership {
		.speaker__logo-wrapper,
		.speaker__meta {
			display: none;
		}
	}

	.all-speakers-grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(7, 1fr);
		.speaker-card {}
	}

	.agenda__item-wrap {
		border: 2px solid var(--color-primary-accent);
		border-radius: var(--radius-1);
		padding: calc( .5 * var(--spacer-grid));
	}

	.agenda__title {
		font-weight: 700;
		border-bottom: 1px dotted ;
		// margin-bottom: 1rem;
	}
	.agenda__dates {
		// font-weight: 700;
		font-size: var(--font-size--sm);
		margin-bottom: 1rem;
	}

	.landing__container {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.landing__text {
		text-align: center;
		font-weight: 500;
		font-size: var(--font-size--xl);
		line-height: 1.1;
		color: var(--color-text)
	}

	.secondary-nav__wrapper {
		z-index: 10;
		display: flex;
		justify-content: center;
		color: var(--color-text);

		.secondary-nav {
			// border: 2px solid transparent;
			// border-top:0px;
		}

		&.is-pinned {
			top:-1px;
			.secondary-nav {
			}
		}

		.secondary-nav {
			background: var(--color-primary-800);
			display: flex;
			justify-content: center;
			border-bottom-left-radius: var(--radius-1);
			border-bottom-right-radius: var(--radius-1);
			padding: .51em 2em;

		}

		.button--text {
			font-size: var(--font-size--sm);
			white-space: nowrap;
			font-weight: 400;

			&:hover {
				color: var(--color-secondary-400);
			}
		}
	}

	.title-section {
		display: flex;
		flex-direction: column;
		gap: var(--spacer-12);
	}

	.summit-title {
		letter-spacing: -2px;
		line-height: 1;
	}

	.summit-subtitle {
		font-size: var(--font-size--lg);
		font-weight: 600;
		text-transform: uppercase;
	}

	.text-block {
		font-weight: 400;
		font-size: var(--font-size--md);
	}

	.inner-container {
		padding: 2rem;
		border-radius: var(--radius-4);

	}

	.single-testimonial .inner-container {
		background: var(--color-secondary-200);
	}

	dt {
		&:before {
			content: "- ";
		}
	}

	dd {
		font-weight: 400;
		font-size: var(--font-size--sm);
		margin-left: .7rem;
	}

	blockquote {
		font-size: var(--font-size--lg);
		font-family: "montserrat";
		font-weight: 400;
	}
}

.sponsor__logo__wrapper {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	aspect-ratio: 1/1;
	opacity: .8;
	transition: opacity .2s;
	&:hover {
		opacity: 1;
	}

	&.sponsor-level{
aspect-ratio: 1/1;
		&--gold {
			flex: 0 0 300px;
		}
		&--silver {
			flex: 0 0 150px;
		}
		&--bronze {
			flex: 0 0 75px;
		}
		
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
		

}