@use '../grid';
@use '../mixins' as *;

.post-type-archive-event {
	.site-content {
		@extend .container--narrow;
	}
}

.event-archive-item {
	display:flex;
	flex-direction: column;
    align-items: start;
	@include bp(md){
		flex-direction: row;
		align-items: start;
	}
	column-gap: var(--spacer-8);
    padding: 2rem;
    // margin: -2rem;
    border-radius: var(--border-radius);
	background: var(--color-primary-33);
    border: 1px solid var(--color-greys-100);
	position: relative;
	&:not(first-of-type){
		margin-top: var(--spacer-lg);
	}
	.event-item--info {
		flex: 1;
	}
	.event-archive-item--sidebar {
		width: 200px;
		@include bp(md){
		flex: 0 0 200px;
	}
	}

	.event--description{
		font-size: var(--font-size--sm);
	}
}

.event-archive-item--meta-date {
	line-height: 1;
	// flex: 0 0 100px;
	color: var(--color-primary-accent);

}

.event-archive-item--button {
    width: 100%;
	&:nth-of-type(2){
		margin-top: 1rem;;
	}
}

.event--categories {
	display: flex;
	gap: .251rem;
	align-items: center;
	.pill {
		font-size: var(--font-size--xxs);
	}
}
.filter__input-wrapper form{
	display: flex;
}
.filter__category-wrapper,
.filter__prev-next-wrapper {
	display: flex;
	gap: var(--spacer-2);
}
