.sponsor-item  {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	border: 1px solid;
	border-radius: var(--radius-4);
	padding: 2rem 2rem;
	position: relative;
	background-color: var(--color-primary-25);

	.sponsor__name {
		display: none;
		font-weight: 500;
		font-size: var(--font-size--lg);
	}
	.sponsor__description {
		max-height: 90px;
		overflow: hidden;;
	}
}
.articles.main {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}