
.site-footer {
	--color-text: var(--white-199);
	color: var(--color-text);
	background: var(--dark-gradient-1);
	// margin-top: var(--spacer-12);
	
	.inner-footer{
		padding-top: var(--spacer-8);
		padding-bottom: var(--spacer-8);
	}
	.site-footer-logo {
		display: inline-block;
		max-width: 200px;
	}
	.site-description {
		display: block;
		margin-bottom: 0;
		font-size: var(--font-size--xs);
		color: var(--color-secondary-300);
		letter-spacing: 1px;
		font-family: var(--font-family--display);
	}

	.footer-col {
		flex:auto;
	}
	.first-footer-col {
		min-width: 13rem;
	}
	.footer-col-wide {
		flex: 1;
		min-width: 300px;
		width: 100%;
	}

	.menu {
		list-style-type: none;

	}
}

.footer-gallery {
	border-top: 3px solid green;
	border-bottom:3px solid green;
	img {
		object-fit: cover;
	}
}

.footer-col-widgets {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	gap: 1rem;
	.widget > .widget{
		width: 100%;
	}
	& > * {
		flex: auto;
		// min-width: 300px;
	}
}