@use './components/buttons';
@use './mixins' as *;
.menu-toggle {
	display:inline-block;
	@include bp(md){
		display: none;
	}
}
.site-description {
	display: none;
}
.site-header{
	padding-top: var(--spacer);
	position: relative;
	border-bottom: 1px solid; 
	.top-row {
		justify-content: space-between;
	}
}
.site-branding{
    width: 30%;
    min-width: 150px;
    max-width: 400px;
    // position: absolute;
    // bottom: 0;

	img {
		width: 100%;
		height: auto;
	}
}


.top-nav--menu {
	// --link-size: var(--font-size--xl);
	margin-left:auto;
	list-style-type: none;
	display:flex;
	word-spacing: -0.1em;
	column-gap: var(--spacer-6);
	font-size: var(--link-size);
	@include bp(md){
		// --link-size: var(--font-size--xs);
		align-items: end;

	}
	.menu-item {
		font-weight: 300;
		letter-spacing: 1px;
	}
	a:hover {
		border-bottom: 1px dotted;
	}
}

.highlight-button a {
	@extend .button;
	border-color: var(--color-secondary-800);
	font-size: var(--font-size--sm);
	font-size:inherit;
	padding-top: var(--spacer-1);
	padding-bottom: var(--spacer-1);
	background: var(--color-secondary-400);
	font-weight: 400;
	color: var(--color-link);
	// text-transform: uppercase;
	letter-spacing: .1px;
	&:hover {
		border: 1px solid;
	}
}
